<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="ser-title">Something Went Wrong</h2>
                <hr class="botm-line">
                <p>An error occurred while processing your request.</p>
            </div>
        </div>
    </div>
</section>