<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="ser-title">404: Not Found</h2>
                <hr class="botm-line">
                <p>We did not find the page you were looking for. Would you like to <a href="~/">go back home</a>?</p>
            </div>
        </div>
    </div>
</section>