@model CalifornianHealth.Models.Booking.BookingViewModel<AvailableDates>

<section id="consultants" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="ser-title">What day works best for you?</h2>
                <hr class="botm-line">
                <form id="select-calendar-date" method="post" asp-antiforgery="true">
                    <p>
                        <button>Schedule Appointment</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>