@model BookingViewModel<IReadOnlyList<Consultant>, PatientConsultant>

<section id="consultants" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="ser-title">Who would you like to meet with?</h2>
                <hr class="botm-line">
                <form method="post" asp-action="@nameof(BookingController.ConsultantCalendar)" asp-antiforgery="true">
                    <div class="form-group">
                        <select asp-for="Patient.ConsultantId" title="Select Consultant">
                            @foreach (var consultant in Model!.Data)
                            {
                                <option value="@consultant.Id">@consultant.ToString()</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn" asp-action="@nameof(BookingController.PatientInformation)">Back</button>
                    <button type="submit" class="btn btn-primary">Continue</button>
                    <input type="hidden" asp-for="Patient.FName" />
                    <input type="hidden" asp-for="Patient.LName" />
                    <input type="hidden" asp-for="Patient.Address1" />
                    <input type="hidden" asp-for="Patient.Address2" />
                    <input type="hidden" asp-for="Patient.City" />
                    <input type="hidden" asp-for="Patient.PostCode" />
                </form>
            </div>
        </div>
    </div>
</section>